# Compressed binaries
*.tar.gz
*.zip
release_info.md

# Compiled Object files, Static and Dynamic libs (Shared Objects)
bart
*.o
*.a
*.so

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof

# Config files
*.bart.yml
*.bart.yaml

# Email previews
*bart_preview_*

# Dev templates
*.dev.mustache
*.html.mustache
